@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-geist-sans), sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: var(--foreground);
  background: var(--background);
  height: screen;
  width: screen;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .mono {
    font-family: var(--font-geist-mono), monospace;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}